@import "./base.css";
@import "tailwindcss";
#app {
  padding: 0;
  width: 100%;
}

a,
.green {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(216, 99%, 58%);
    color: white;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 0;
    width: 100%;
  }
}
